*{ 
  --ion-background-color: peachpuff ;
  overflow: scroll;
}
*fraunces{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

.profile img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  transition: transform .3s ease;
  filter: drop-shadow(0px 0px 10px rgb(26, 64, 51)); 


}

.profile label {
  font-family: fraunces;
  color: #C7FFF2;
  font-size: 100px;
  width: 900px;
  filter: drop-shadow(0px 0px 10px rgb(26, 64, 51)); 

}
.profile {
  background-color: #307860;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
}


.profile img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255)); 
}

.about {
  background-color:#307860 ;
  color: white;
}