<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    
    <h1><b>MUSIC</b></h1>
  
    <div class="content" *ngFor="let user of userList">
      <div class="content-box">
        <div class="content-all">
          <h2>Artist: {{user.artist}} </h2>
          <h2>Title: {{user.title}} </h2>
          <h2>Music Genre: {{user.musicGenre}} </h2>
          <h2>Age: {{user.age}} </h2>
          <h2>isActive: {{user.isActive}} </h2>
          <h2>Started: {{user.started}} </h2>
        </div>
        <div class="btn">
          <ion-button color="success" (click)="update(user)">UPDATE</ion-button>
          <ion-button color="danger" (click)="delete(user)" *ngIf="user.id">DELETE</ion-button>
        </div>
      </div>
    </div>
    <div class ="lg">
      <ion-button color="danger" (click)="logout()">Log Out</ion-button>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addMusic()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


    
  

  

